<div class="container">

	<div class="jumbotron jumbotron-primary">
		<h1 class="text-center">Indifference Optimizer</h1>
		<div class="text-center">We make it easy to express scheduling indifference, while eliminating the downside.</div>
		<div class="text-center">You say "I don't care", somebody else wins.</div>
	</div>
</div>